{% extends 'frontend/layout.html.twig' %}



{% block title %}Discord{% endblock %}

{% block content %}
    <p>Connexion en cours...</p>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('assets/frontend/check.js', 'frontend') }}"></script>
{% endblock %}
